---
export const prerender = false

import BaseLayout from "@layouts/BaseLayout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import WaitlistHero from "@components/WaitlistHero.astro";
import WaitlistBenefits from "@components/WaitlistBenefits.astro";
import { sanityClient } from "sanity:client";
import { urlFor } from "@lib/sanityImageUrl";

const contentCourses = await sanityClient.fetch(`*[_type == "courses" && !(_originalId in path("drafts.**"))][0]`);

const imageUrl = urlFor(contentCourses.heroCourses.heroImage, sanityClient)
---

<BaseLayout title="Code & Math Academy – Waitlist">
    <div class="flex flex-col min-h-screen">
        <Header />
        <main class="flex flex-col items-center">
            <WaitlistHero content={contentCourses.heroCourses} imageUrl={imageUrl.url()}/>
            <WaitlistBenefits content={contentCourses.whyWaitlistSection} />
        </main>
        <Footer />
    </div>
</BaseLayout>