---
export const prerender = false
import { getUser } from "./api/user";

const user = await getUser(Astro.request)
const be_url = import.meta.env.BE_URL

console.log("User:", user);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<p>
      		<a href={
				user ? be_url + "/logout" : be_url + "/login"
			}>
				{user ? 'Sign out' : 'Sign in'}
			</a>
    	</p>
	</body>
</html>
