---
import Card from '@components/UI/cards/Card.astro';

const { cardItems, className } = Astro.props;
---

<div class={className}>
    {
        cardItems.map(({ title, description}: { title: string; description: string }) => (
            <Card
                title={title}
                description={description}
            />
        ))
    }
</div>

