---
import CardServices from '@components/UI/cards/CardServices.astro';

const { cardItems, className = "grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8" } = Astro.props;
---

<div class={className}>
    {
        cardItems.map(({ title, description, icon }: { title: string; description: string; icon?: string }) => (
            <CardServices
                title={title}
                description={description}
                icon={icon}
            />
        ))
    }
</div>
